<html>

<head>
    <title>Mars Facts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <a type="button" class="btn btn-default btn-lg" href="/scrape">
            Generate New Data
        </a>
    </div>


    <div class="container">
        <h3>Latest Mars News</h3>
        <h5>{{mars_info.nasa_news.title}}</h5>
        {{mars_info.nasa_news.desc}}
    </div>
    <br>

    <!-- Featured Image and Facts Table -->
    <div class="container">
        <div class="row">
            <div class="container col-8">
                <h3>Featured Mars Image</h3>
                <br>
                <img src="{{mars_info.jpl_featured_image}}" alt="featured-image" class="img-responsive"
                    style="max-width: 100%; max-height: auto;">
            </div>

            <div class="container col-4">
                <div class="row">
                    <h3>Current Weather on Mars</h3>
                    {{mars_info.weather_data}}
                </div>
                <br>
                <br>
                <div class="row">
                    <h3>Mars Facts</h3>
                    {{mars_info.mars_info | safe}}
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <h2 class="text-center">Mars Hemispheres</h2>
        <br>
        <div class="row">
            <div class="col-6">
                <h3>{{mars_info.hemisphere_images[0].title}}</h3>
                <img src="{{mars_info.hemisphere_images[0].image_url}}" alt="" class="img-responsive"
                    style="max-width: 100%; max-height: auto;">
            </div>
            <div class="col-6">
                <h3>{{mars_info.hemisphere_images[1].title}}</h3>
                <img src="{{mars_info.hemisphere_images[1].image_url}}" alt="" class="img-responsive"
                    style="max-width: 100%; max-height: auto;">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <h3>{{mars_info.hemisphere_images[2].title}}</h3>
                <img src="{{mars_info.hemisphere_images[2].image_url}}" alt="" class="img-responsive"
                    style="max-width: 100%; max-height: auto;">
            </div>
            <div class="col-6">
                <h3>{{mars_info.hemisphere_images[3].title}}</h3>
                <img src="{{mars_info.hemisphere_images[3].image_url}}" alt="" class="img-responsive"
                    style="max-width: 100%; max-height: auto;">
            </div>
        </div>
    </div>

</body>

</html>